* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

/*Background container*/

.background-photo {
  width: 100%;
  height: 100%;
  background-image: url(../images/annie-spratt-460952-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.contact100-header {
  width: 100%;
  height: 80px;
  padding: 10px 35px;
}

.btn-show-contact100 {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #846add;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 15px;
  display: block;
  min-width: 160px;
  height: 42px;
  background-color: #fff;
  border-radius: 21px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  float: right;
}

.btn-show-contact100:hover {
  color: #fff;
  background-color: #846add;
}


/*Form container*/

.container-contact-100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: rgba(132,106,221,0.8);
  position: absolute;
  z-index: 10;
}

.wrap-contact100 {
  width: 560px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  margin-top: 40px;
}

.contact100-form-title {
  font-family: Montserrat-Bold;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  width: 100%;
  min-height: 128px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/bernard-tuck-528096-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;
  
  padding: 30px 15px 30px 15px;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 40px 55px 48px 55px;
}

.form-group {
	width: 100%;
}

.city {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}

#small-input {
 	margin-right: 1em;
}

#small-input2 {
 	margin-left: 1em;
}

.btn-hide-contact100 {
  font-size: 30px;
  color: #fff;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: -44px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-hide-contact100:hover {
  opacity: 1;
}

.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 17px;
}

.contact100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  border-radius: 21px;
  background: #846add;

  box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(132, 106, 221, 0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover {
  background: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-

/*Validation*/
